body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}

/******************************* effekter ****************************************/

.fade_out {
    animation-name: fadeout_a;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_a {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_a;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_a {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.02);
    }
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.paused {
    animation-play-state: paused;
}


/************************************ start *******************************************/

#start {
    background-image: url("design/start.svg");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0;

}

#startmaane {
    background-image: url("design/startmaane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 13vw;
    width: 13vw;
    top: 8.35vw;
    left: 17vw;
    cursor: pointer;
}

#settings_lys {
    background-image: url(design/settings_lys.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    position: absolute;
    z-index: 1;
    top: 49vw;
    left: 2vw;
    cursor: pointer;
}


/************************************ game *******************************************/
#background_game {
    background-image: url("design/background_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0vw;

}

#middleground_game {
    background-image: url("design/middleground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0vw;

}

#second_middleground_game {
    background-image: url("design/second_middelground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0vw;

}

#foreground_game {
    background-image: url("design/foreground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vw;
    pointer-events: none;
}


/**
.vaesel_pos1 {
    top: 11.5vw;
    left: 52vw;
}

.vaesel_pos2 {
    top: 13vw;
    left: 82vw;
}

.vaesel_pos3 {
    top: 19.5vw;
    left: 25vw;
}

.vaesel_pos4 {
    top: 20vw;
    left: 66vw;
}

.vaesel_pos5 {
    top: 29vw;
    left: 42vw;
}**/



#vaesel_1 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7vw;
    height: 14vw;
    position: absolute;
    top: 25.5vw;
    left: 52vw;
    cursor: pointer;

}

#vaesel_2 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7vw;
    height: 14vw;
    position: absolute;
    top: 27vw;
    left: 82vw;
    cursor: pointer;
    animation-delay: .7s;
}


#vaesel_3 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: absolute;
    top: 33.5vw;
    left: 25vw;
    cursor: pointer;
    animation-delay: .7s;
}

#vaesel_3 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: absolute;
    top: 33.5vw;
    left: 25vw;
    cursor: pointer;
    animation-delay: .9s;
}


#vaesel_4 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: absolute;
    top: 34vw;
    left: 66vw;
    cursor: pointer;
    animation-delay: 1.3s;
}

#vaesel_5 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: absolute;
    top: 43vw;
    left: 42vw;
    cursor: pointer;
    animation-delay: 1.2s;
}

/**
.maane_pos1 {
    top: 11.5vw;
    left: 52vw;
}

.maane_pos2 {
    top: 13vw;
    left: 82vw;
}

.maane_pos3 {
    top: 19.5vw;
    left: 25vw;
}

.maane_pos4 {
    top: 20vw;
    left: 66vw;
}

.maane_pos5 {
    top: 29vw;
    left: 42vw;
}
**/



#maane_1 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 25.5vw;
    left: 49vw;
    cursor: pointer;
    animation-delay: 1s;
}

#maane_2 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 27vw;
    left: 79vw;
    cursor: pointer;
    animation-delay: .1.3s;
}

#maane_3 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 33.5vw;
    left: 22vw;
    cursor: pointer;
}

#maane_4 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 34vw;
    left: 66vw;
    cursor: pointer;
    animation-delay: .7s;
}

#maane_5 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 43vw;
    left: 42vw;
    cursor: pointer;
    animation-delay: .1s;
}


.hop {
    animation-name: hop;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes hop {
    0% {
        transform: translateY(10vw);
    }

    50% {
        transform: translateY(-15vw);
    }

}

#points {
    background-image: url(design/maane_points.svg);
    background-size: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    width: 15.2vw;
    height: 15.2vw;
    position: absolute;
    top: 17vw;
    left: 67.3vw;


}

#energy {
    background-image: url(design/liv_uden_farve.svg);
    background-size: 33%;
    background-repeat: repeat-x;
    width: 22vw;
    height: 5vw;
    position: absolute;
    top: 50vw;
    left: 76vw;

}


#time {
    background-image: url(design/timeglas.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 6vw;
    position: absolute;
    top: 42vw;
    left: 89vw;
}


#settings_moerk {
    background-image: url(design/settings_moerk.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}



/************************************ levelcomplete*********************************/
#background_happy_ending {
    background-image: url("design/background_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;

}

#second_middelground_happy_ending {
    background-image: url("design/second_middelground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vw;

}

#middleground_happy_ending {
    background-image: url("design/middleground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}


#foreground_happy_ending {
    background-image: url("design/foreground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#foreforeground_happy_ending {
    background-image: url("design/foreforeground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70vw;
    height: 100%;
    position: absolute;
    top: 10vw;
    left: 20vw
}

#naebdyr_fest_1 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16vw;
    height: 13vw;
    position: absolute;
    top: 13vw;
    left: 77vw;
}

#naebdyr_fest_2 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18vw;
    height: 15vw;
    position: absolute;
    top: 22vw;
    left: 65vw;
    animation-delay: .5s;
}

#naebdyr_fest_3 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18vw;
    height: 15vw;
    position: absolute;
    top: 21vw;
    left: 25vw;
    animation-delay: .2s;
}

#naebdyr_fest_4 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 15vw;
    position: absolute;
    top: 29vw;
    left: 45vw;
    animation-delay: .8s;
}

#naebdyr_fest_5 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 15vw;
    position: absolute;
    top: 30.5vw;
    left: 5vw;
    animation-delay: .1s;
}

#disko_maane {
    background-image: url("design/maane_points.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 4vw;
    left: 67.7vw;
}


#igen_win {
    background-image: url("design/igen.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 38vw;
    left: 43vw;
    cursor: pointer;

}


#afslut {
    background-image: url(design/afslut.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
}

.dans {
    animation-name: dans;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes dans {
    0% {
        transform-origin: -200% 100%;
        transform: rotate(20deg);
    }

    50% {
        transform-origin: 50% 100%;
        transform: rotate(-20deg);
    }

    100% {
        transform-origin: -200% 100%;
        transform: rotate(20deg);
    }

}

.drej {
    animation-name: drej;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drej {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }

}


}

/************************************  gameover  *******************************************/
#slut {
    background-image: url("design/slut.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
}


#igen_slut {
    background-image: url(design/igen.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 38vw;
    left: 45vw;
}

#afslut {
    background-image: url(design/afslut.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 6vw;
    position: absolute;
    top: 30vw;
    left: 45vw;
}

/************************************  settings  *******************************************/
#settings {
    background-image: url("design/settings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#lyd_1 {
    background-image: url(design/lyd.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 24vw;
    left: 47vw;
    cursor: pointer;
}

#lyd_2 {
    background-image: url(design/lyd.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 31vw;
    left: 47vw;
    cursor: pointer;
}

#afslut_settings {
    background-image: url(design/afslut.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
    position: absolute;
    top: 13vw;
    left: 66vw;
    cursor: pointer;
}
