body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}


/************************************ start *******************************************/

#start {
    background-image: url("design/start.svg");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    z-index: 7;
    top: 0;
    display: none;

}

#startmaane {
    background-image: url("design/startmaane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 13vw;
    width: 13vw;
    top: 8.35vw;
    left: 17vw;
    z-index: 7;
    display: none;

}

.startmaane {
    cursor: pointer;

}

/************************************ game *******************************************
#background_game {
    background-image: url("design/background_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0vw;

}

#middleground_game {
    background-image: url("design/middleground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0vw;

}

#second_middleground_game {
    background-image: url("design/second_middelground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0vw;

}

#foreground_game {
    background-image: url("design/foreground_game.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    top: 0vw;


}


#vaesel_1 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: relative;
    top: 8vw;
    left: 60vw;

}

#vaesel_2 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: relative;
    top: -11vw;
    left: 25vw;

}

#vaesel_3 {
    background-image: url("design/vaesel_1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 16vw;
    position: relative;
    top: -29vw;
    left: 65vw;

}


#maane_1 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: relative;
    top: -3vw;
    left: 80vw;
}

#maane_2 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: relative;
    top: -24vw;
    left: 45vw;
}

#maane_3 {
    background-image: url("design/maane.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: relative;
    top: -43vw;
    left: 20vw;
}


.hop {
    animation-name: hop;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes hop {
    0% {
        transform: translateY(0vw);
    }

    50% {
        transform: translateY(15vw);
    }

}


/************************************ levelcomplete*********************************
#background_happy_ending {
    background-image: url("design/background_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;

}

#second_middelground_happy_ending {
    background-image: url("design/second_middelground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vw;

}

#middleground_happy_ending {
    background-image: url("design/middleground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}


#foreground_happy_ending {
    background-image: url("design/foreground_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#foreforeground_happy_ending {
    background-image: url("design/foreforegroudn_happy_ending.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70vw;
    height: 100%;
    position: absolute;
    top: 10vw;
    left: 20vw
}

#naebdyr_fest_1 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17vw;
    height: 14vw;
    position: absolute;
    top: 12.5vw;
    left: 77vw;
}

#naebdyr_fest_2 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18vw;
    height: 15vw;
    position: absolute;
    top: 22vw;
    left: 65vw;
}

#naebdyr_fest_3 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18vw;
    height: 15vw;
    position: absolute;
    top: 21vw;
    left: 25vw;
}

#naebdyr_fest_4 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 15vw;
    position: absolute;
    top: 29vw;
    left: 45vw;
}

#naebdyr_fest_5 {
    background-image: url("design/naebdyr_fest.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 19vw;
    height: 15vw;
    position: absolute;
    top: 30.5vw;
    left: 5vw;
}


#igen {
    background-image: url("design/igen.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    position: absolute;

}
/************************************  gameover  *******************************************
#slut {
    background-image: url("design/slut.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/************************************  settings  *******************************************/
#settings {
    background-image: url("design/settings.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#lyd_1 {
    background-image: url(design/lyd.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 24vw;
    left: 47vw;

}

#lyd_2 {
    background-image: url(design/lyd.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 31vw;
    left: 47vw;

}

#afslut {
    background-image: url(design/afslut.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 6vw;
    position: absolute;
}


/******************************************  UI  **********************************************/

#points {
    background-image: url(design/maane_points.svg);
    background-size: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    width: 15.2vw;
    height: 15.2vw;
    position: absolute;
    z-index: 1;
    top: 17vw;
    left: 67.3vw;

}

#energy {
    background-image: url(design/liv_uden_farve.svg);
    background-size: 33%;
    background-repeat: repeat-x;
    width: 22vw;
    height: 5vw;
    position: absolute;
    z-index: 6;
    top: 51.5vw;
    left: 77vw;

}


#time {
    background-image: url(design/timeglas.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 6;
    top: 43vw;
    left: 89vw;
}

#afslut {
    background-image: url(design/afslut.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 6;
    top: 0vw;
    left: 0vw;
}

#igen {
    background-image: url(design/igen.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 6;
    top: 0vw;
    left: 0vw;
}

#settings_lys {
    background-image: url(design/settings_lys.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 6;
    top: 0vw;
    left: 0vw;
}

#settings_moerk {
    background-image: url(design/settings_moerk.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: none;
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 6;
    top: 0vw;
    left: 0vw;
}
